@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

body {
	@apply flex justify-center items-start;
	font-family: Helvetica, 'Lucida Sans', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.main-background {
  background-image: url('/school-fish/school-fish-1600x960-gradient-67.webp');
  background-size: cover;
  background-position: center 40vh;
  background-repeat: no-repeat;
}



.card-points {
	@apply bg-base-100 size-[7.5rem] shadow-xl rounded-lg border-2 border-gray-800 overflow-hidden 
}

.card-body-points {
	@apply absolute pt-4 pb-3 px-2 justify-start items-center w-full h-full
}

.btn-xs {
	@apply h-7 min-h-7 px-3 text-[0.8rem]
}

.btn-xxs {
	@apply h-5 min-h-5 px-1 text-[0.75rem]
}

.btn-md-w {
	@apply h-10 min-h-10 w-[20rem] text-lg
}

.btn-outline-gray {
	@apply border border-zinc-400 text-zinc-400 bg-transparent;
	@media (hover: hover) {
		&:hover {
			@apply border-zinc-100 text-zinc-100 bg-zinc-800;
		}
	}
}

.btn-copy {
	@apply border-0 border-info text-info bg-transparent duration-300;
	@media (hover: hover) {
		&:hover {
			@apply underline underline-offset-2 brightness-125 bg-transparent duration-300;
			/* @apply text-black bg-info duration-300; */
		}
	}
}

.btn-copied {
	@apply border-0 border-info text-black bg-info duration-300;
	@media (hover: hover) {
		&:hover {
			@apply border border-info text-black bg-info duration-300;
		}
	}
}

.btn-points {
	@apply size-12 min-h-12 p-0 border-2;
}

.btn-points:is(input[type='radio']):after {
	@apply text-lg font-bold;
	--tw-content: attr(value);
	content: var(--tw-content);
}

/* .btn-points:is(input[type='radio']):hover {
	--tw-border-opacity: 0.5;
	--tw-bg-opacity: 0.7;
} */

.btn-points:is(input[type="radio"]:checked) {
	@apply border-success/80 bg-success/80 text-success-content;
	@media (hover: hover) {
		&:hover {
			@apply border-success/80 bg-success/80 text-success-content;
		}
	}
	&:focus-visible {
		@apply outline-primary;
	}
}

.btn-points:is(input[type="radio"]:disabled) {
	@apply border-primary/30 bg-primary/0 text-primary/30;
	@media (hover: hover) {
		&:hover {
			@apply border-primary/30 bg-primary/0 text-primary/30;
		}
	}
}

.btn-checkbox {
	@apply hidden;
}

.btn-checkbox-label {
	@apply size-10 min-h-10 p-0 border-2;
}

.btn-checkbox:checked + .btn-checkbox-label {
	@apply border-success/80 bg-success/80 text-success-content;
	@media (hover: hover) {
		&:hover {
			@apply border-success/100 bg-success/90 text-success-content;
		}
	}
	&:focus-visible {
		@apply outline-primary;
	}
}

.tooltip::before {
	background-color: #131317;
	box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.7);
	font-size: 0.8rem;
}

.tooltip-fish::before {
	transform: none;
	left: auto;
	right: 0;
}
